name: Dependency Review

on:
  pull_request:
    branches: [main, staging]

permissions:
  contents: read
  pull-requests: write

jobs:
  dependency-review:
    if: false  # Workflow desactivado
    name: Review Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          fail-on-severity: moderate
          comment-summary-in-pr: true
          deny-licenses: GPL-2.0, GPL-3.0
